Plastic-Classification[[:space:]]Dataset.zip filter=lfs diff=lfs merge=lfs -text
Plastic-Classification[[:space:]]Dataset/* filter=lfs diff=lfs merge=lfs -text
Plastic[[:space:]]Classification-main/* filter=lfs diff=lfs merge=lfs -text
